{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card p-4">
				
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 d-block font-weight-normal mb-2">100</span>
                            <span class="font-weight-light">HOSTS</span>
                        </div>
                        <div class="h2 text-muted">
                            <i class="icon icon-screen-desktop"></i>
                        </div>
                    </div>
					
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
				
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 d-block font-weight-normal mb-2">3</span>
                            <span class="font-weight-light">FAILED HOSTS</span>
                        </div>
                        <div class="h2 text-muted">
                            <i class="icon icon-wallet"></i>
                        </div>
                    </div>
					
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 d-block font-weight-normal mb-2">900</span>
                            <span class="font-weight-light">INVENTORIES</span>
                        </div>
                        <div class="h2 text-muted">
                            <i class="icon icon-cloud-download"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 d-block font-weight-normal mb-2">32</span>
                            <span class="font-weight-light">INVENTORY SYNC FAILURES</span>
                        </div>
                        <div class="h2 text-muted">
                            <i class="icon icon-clock"></i>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-md-3">
                <div class="card p-4">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 d-block font-weight-normal mb-2">5</span>
                            <span class="font-weight-light">PROJECTS</span>
                        </div>
                        <div class="h2 text-muted">
                            <i class="icon icon-clock"></i>
                        </div>
                    </div>
                </div>
            </div>
			<div class="col-md-3">
                <div class="card p-4">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>
                            <span class="h4 d-block font-weight-normal mb-2">5</span>
                            <span class="font-weight-light">PROJECT SYNC FAILURES</span>
                        </div>
                        <div class="h2 text-muted">
                            <i class="icon icon-clock"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Total Users
                    </div>
                    <div class="card-body p-0">
                        <div class="p-4">
                            <canvas id="line-chart" width="100%" height="20"></canvas>
                        </div>
                        <div class="justify-content-around mt-4 p-4 bg-light d-flex border-top d-md-down-none">
                            <div class="text-center">
                                <div class="text-muted small">Total Traffic</div>
                                <div>12,457 Users (40%)</div>
                            </div>
                            <div class="text-center">
                                <div class="text-muted small">Banned Users</div>
                                <div>95,333 Users (5%)</div>
                            </div>
                            <div class="text-center">
                                <div class="text-muted small">Page Views</div>
                                <div>957,565 Pages (50%)</div>
                            </div>
                            <div class="text-center">
                                <div class="text-muted small">Total Downloads</div>
                                <div>957,565 Files (100 TB)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-left: 30%">
            	©1995-2019 Brightoilonline, Inc. All rights reserved. <a href="https://bpm.bwoil.com/" target="_blank" title="光汇云油">光汇云油</a> - Attached to - <a href="http://www.brightoilonline.com/" title="光汇石油集团" target="_blank">光汇石油集团</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}